* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --background-color: #ffffff; /* white */
  --primary-color: #152C5B; /* Primary blue */
  --secondary-color: #000000; /* Black */
  --light-primary-color:  #0a00921a; /* Lighter blue */
  --light-gray: #E2E5EB; /* White with 80% opacity */
  --txt-gray: #B0B0B0;

  --dark-gray: #1A1B1E; /* Dark gray */
  --blue: #35C2FD; /* Light blue */
  --dark-blue: #203FC7; /* dark blue */
  --green: #54D14D; /* Green */
  --red: #7783BF; /* Soft blue */
  --off-white: #FAFAFA; /* Very light gray */
  --light-gray-row:#F8F9FB;
  --light-baby-blue:  #F7F7F7;
  --light-green:  #F1FFF0;
  --dark-green:  #009247;
  --light-purple:#b800d8;
  --gray-color:#B0B0B0;
  --popular-color:#FF498B;
  --star-color: #FFCC47 ;
  --green-btn:#1abc9c;
  --light-purple:#b800d8;
  --pink :#FF498B;
  --red: #E74C3C;
  --light-blue:  rgba(32, 63, 199, 0.21);



}

[data-theme="dark"] {
  --background-color: #121212; /* Dark background */
  --primary-color: #152C5B; /* Keep primary blue */
  --secondary-color: #FFFFFF; /* White text */
  --light-gray: rgba(255, 255, 255, 0.2); /* White with 20% opacity */
  --light-red: #FF6B6B; /* Lighter red for dark mode */
  --dark-blue: #203FC7; /* dark blue */

  --red: #E74C3C;
  --dark-gray: #FFFFFF; /* White for contrast */
  --blue: #35C2FD; /* Keep light blue */
  --green: #54D14D; /* Keep green */
  --off-white: #FAFAFA; /* Keep very light gray */
}


body{font-family: "Poppins"}

.text-danger{
    color:var(--red);
}
.profile-image-preview {
    border: none;
}


/* ===================sidebar========================= */
.sidebar-container .ps-sidebar-container {
  background-color: var(--primary-color);
  color: var(--off-white);
  height: 100vh;

}
.sidebar-container .ps-menu-button {
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: var(--light-primary-color) !important;
    border-left: 5px solid #152C5B;
  }
}
.css-1wvake5 {
  border: 0 !important;
}
.css-dip3t8 {
  position: fixed !important;
  width: inherit !important;
}
.bi-trash,.bi-pencil-square{
  cursor: pointer;
}
/* dropdown */
.css-1tktgsa-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  background-color: #ffffff !important;
  --shadow:0px 1px 1px -10px rgba(0,0,0,0.2),0px 0px 14px -27px rgba(0,0,0,-4.86),0px 1px 16px -3px rgba(0,0,0,0.12);
  -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
  transition: none !important ;
  border-radius: 11px !important;
  box-shadow: var(--shadow) !important;  
  background-image: none !important;
}
/* delete confirmation  */

.css-78e6go-MuiImageList-root {
  display: inherit !important;
}
.css-4nmryk-MuiBackdrop-root-MuiModal-backdrop{
  background-color: rgba(0, 0, 0, 0.1) !important;
}
/* RoomFacilitiesList.css */
.table-container {
  overflow-y: auto; /* Enable horizontal scrolling */
}

.table {
  min-width: 700px; /* Set a minimum width for the table */
}

@media (max-width: 600px) {
  .table {
    min-width: 100%; /* Allow the table to take full width on smaller screens */
  }
}

.css-cturab-MuiTableCell-root {
  padding: 5px 0 !important;
  display: inherit !important; 

}
.css-4nmryk-MuiBackdrop-root-MuiModal-backdrop{
  background-color: rgba(0, 0, 0, 0.1) !important;
}